[project]
	description = Umap UI development
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mathias Maerker (mathiasmaerker)
[access "refs/for/refs/*"]
	read = group user/Mathias Maerker (mathiasmaerker)
	push = group user/Mathias Maerker (mathiasmaerker)
	label-Code-Review = -2..+2 group user/Mathias Maerker (mathiasmaerker)
	label-Verified = -1..+1 group user/Mathias Maerker (mathiasmaerker)
	rebase = group user/Mathias Maerker (mathiasmaerker)
	removeReviewer = group user/Mathias Maerker (mathiasmaerker)
	submit = group user/Mathias Maerker (mathiasmaerker)
[access "refs/heads/*"]
	read = group user/Mathias Maerker (mathiasmaerker)
	create = group user/Mathias Maerker (mathiasmaerker)
	push = +force group user/Mathias Maerker (mathiasmaerker)
	pushMerge = group user/Mathias Maerker (mathiasmaerker)
[access "refs/tags/*"]
	push = +force group user/Mathias Maerker (mathiasmaerker)
	pushTag = group user/Mathias Maerker (mathiasmaerker)
	pushSignedTag = group user/Mathias Maerker (mathiasmaerker)
